*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    zoom: 100%;
}

:root{
    /* --bg-color: #000000; */
    /* --bg-color: #121212; */
    --bg-color: #03000d;
    --text-color:#fff;
    --main-color: rgb(0, 255, 0);
    --mains-color: rgb(22, 91, 22);
    --second-color: gray;
    --other-color:#12141c;
    --h1-font: 5.2rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}
.logo img{
    width: 145px;
    height: auto;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    zoom: reset;
    min-zoom: 100%;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;   /* ...change here to transparent... */
    padding: 22px 16%;
    border-bottom: 1px solid transparent;
    transition: all .40s ease;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    padding: 10px 25px;
    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all .40s ease;
}
.navbar a:hover{
    background: var(--main-color);
    color: var(--bg-color);
}

#menu-icon{
    font-size: 36px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 160px 6% 90px;
    zoom: 100%;
}
.contact-icons-2{
    display: none;
    justify-content: flex-end;
}
.contact-icons-2 i{
    /* visibility: hidden; */
    height: 40px;
    width: 40px;
    background: #12141c;
    border-radius: 0.5rem;
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
    /* align-self: flex-end; */
    /* justify-self: flex-start; */
}
.contact-icons-2 i:hover{
    transform: scale(1.01) translateY(-5px);
    color: var(--text-color);
    background: var(--main-color);
}
.home{
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-text h1{
    color: var(--main-color);
    margin: 20px 0;
    font-size: var(--h1-font);
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 2px;
    text-align: center;
}
.home-text h1 span{
    color: var(--text-color);
}
.home-text h4{
    font-size: 30px;
    font-weight: 900;
    text-align: center;

}
.home-text h3{
    font-size: 25px;
    font-weight: 900;
    /* margin-bottom: 3rem; */
    text-align: center;
}
.btn{
    display: flex;
    padding: 14px 40px;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: 900;
    background: var(--main-color);
    color: var(--bg-color);
    border: 1px solid var(--main-color);
    transition: all .40s ease;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.btn:hover{
    transform: scale(1.01) translateY(-5px);
    background: transparent;
    color: var(--text-color);
    border: 1px solid var(--main-color);
}
header.sticky{
    padding: 10px 16%;
    background: var(--bg-color);
    border-bottom: 1px solid #0e16;
    transition: .3s;
}

/* about */
/* .about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.about-text h4{
    margin: 10px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.about-text h2{
    font-size: var(--h2-font);
}
.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}
.about-gri{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}
.about-in h5{
    font-size: 22px;
    font-weight: 600;
}
.about-img img{
    height: auto;
    width: 100%; 
    max-width: 460px;
} */

/* about me */
.rows{
    /* display: flex;  */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(500px, auto)); */

}
.about-col-1{
    display: flex;
    justify-content: center;
    /* margin-left: -30%; */
    align-items: center;
    /* flex-basis: 100%; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, auto));                            */
    /* grid-template-columns: 3fr; */
}
.about-col-1 img{
    padding: 14px 40px;
    margin-right: 10px;
    border-radius: 0.5rem;
    background: var(--mains-color);
    /* color: var(--bg-color); */
    /* border: 1px solid var(--main-color); */
    /* transition: all .40s ease; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 20px; */
    width: 30%;
    height: 70%;
    object-fit: contain;
}
.skillz{
    /* align-items: center; */
    /* gap: 2rem; */
    /* margin-top: 5rem; */
    display: grid;
    grid-template-columns: 3fr;
    grid-template-columns: repeat(auto-fit, minmax(550px, auto));
} 
.about-text{
    flex-basis: 60%;
}
h5{
    color: rgb(230, 228, 228);
}
.about-text h2{
    font-size: var(--h2-font);
    text-align: center;
}
.about-text h4{
    margin: 10px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}
.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    text-align: center;
    /* line-height: 30px; */
    /* margin-bottom: 2rem; */
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    justify-content: center;
    align-items: center;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: var(--text-color);
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50px;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: var(--main-color);
    font-size: 14px;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
    text-align: center;
}



/* services */
.main-text{
    text-align: center;
}
.main-text h2{
    font-size: var(--h2-font);
    margin-bottom: 10px;
}
.main-text h4{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}
.box{
    padding: 45px;
    background: #12141c;
    border-top: 5px solid transparent;
    border-radius: 0.5rem;
    transition: all .40s ease;
    cursor: pointer;
}
.tiny{
    width: 50px;
    height: 7vh;    
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    transition: all .40s ease;
    color: #fff;
}
.box p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
}
.box:hover{
    transform: scale(1.01) translateY(-5px);
    border-top: 5px solid var(--main-color);
    border-bottom: 5px solid var(--main-color);
}
.box:hover h3{
    color: var(--main-color);
}

/* portfolio */
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.row img{
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}
.row{
    padding: 25px;
    background: #12141c;
    border-radius: 0.5rem;
    transition: all .40s ease;
}
.hidden{
    color: #12141c;
}
.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.row h3{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}
.thumb{
    height: 50vh;
    width: 550px;
    margin-top: 3px;
}
.row h6{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}
.row-icon i{
    font-size: 21px;
}
.row:hover{
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
}
/* contact */

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
}
.contact-text h4{
    margin: 15px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}
.contact-text h2{
    font-size: var(--h2-font);
}
.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li a{
    display: block;
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all .40 ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: var(--main-color);
}
.contact-icons i{
    /* visibility: hidden; */
    height: 40px;
    width: 40px;
    background: #12141c;
    border-radius: 0.5rem;
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
}
.contact-icons i:hover{
    transform: scale(1.01) translateY(-5px);
    color: var(--text-color);
    background: var(--main-color);
}
.contact-form form{
    position: relative;
}
.contact-form form input,
form textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background: #12141c;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    background: var(--main-color);
    color: var(--text-color);
    width: 190px;
    transition: all .40s ease;
    cursor: pointer;
}
.last-text p{
    text-align: center;
    padding: 15px;
    color: var(--second-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;

}
.top i{
    color: var(--text-color);
    background: var(--main-color);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
#menu-icon{
    color: var(--main-color);
}

@media (max-width: 1325px){
    header{
        padding: 16px 3%;
    }
    header.sticky{
        padding: 8px 3%;
    }
    section{
        padding: 130px 3% 60px;
    }
}


@media (max-width: 970px){
    :root{
        --h1-font: 4.2rem;
        --h2-font: 2.9rem;
        --p-font: 1rem;
    }
    section{
        padding: 70px 3% 60px;
    }
    .home{
        height: 85vh;
    }
    .about{
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
    .about-col-1, .about-text{
        flex-basis: 100%;
    }
    .about-col-1{
        text-align: center;
    }
    .about-text{
        font-size: 16px;
        margin-right: 20px;
    }
    .about-text h2{
        text-align: center;
    }
    .about-text h4{
        text-align: center;
    }
    .about-text p{
        text-align: center;
    }
    .contact{
        display: none;
        grid-template-columns: 1fr;
    }
    .tab-contents.active-tab{
        text-align: center;
    }
    .tab-titles{
        justify-content: center;
        align-items: center;
    }
    .contact-icons-2{
    display: flex;   
    }
}


@media (max-width: 830px){
    .home-text h1{
        font-size: var(--h1-font);
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: -600%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #12141c;
        text-align: left;
        transition: all .40s ease;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        margin: 1rem;
    }
    .navbar.active{
        top: 100%;
    }
    :root{
        --h1-font: 4.2rem;
        --h2-font: 2.7rem;
    }
}


@media (max-width: 550px){
    section{
        width: 100%;
        margin-left: 19%;
    }
    .home-text{
        /* padding-left: 30%; */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        text-align: center;
    }   
    .about{
        margin-left: 5%;
    }
}

@media (max-width: 419px){
    :root{
        --h1-font: 3.2rem;
        --h2-font: 2.7rem;
    }
    section{
        width: 100%;
        margin-left: 28%;
    }

    .home-text h1{
        font-size: var(--h1-font);
    }
}